body{
    width: 100%;
    height: 100%;
    margin: auto;
}

.menu-principal {
background-color: #252323;
height: 60px;
width: 100%;
}
main{
    width: 980px;
    margin: auto;
    position: relative;
}
.logo{
    padding: 16px;
    padding-left: 14px;
    width: 40%;
    float: left;
}
.redes-socias ul li{
    display: inline-block;
    float: left;
    margin-left: 15px;  
    
}
.redes-socias{
    width: 25%;
    float:right;
}
.header-2{
    background-color: #ffffff;
    width: 100%;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15px;
}
.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  
}
.menu{
    width: 70%;
    float: left;
}
.busca{
    float:right;
    margin-top: 15px;
}